.reserved-date {
  background-color: #a0153e;
  color: white;
  text-align: center;
  border-radius: 10%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.ant-picker-cell-disabled .ant-picker-cell-inner {
  opacity: 0.5;
  pointer-events: none;
}

.list-materials {
  margin: 0;
  padding: 0;
  list-style: none;
}
